.card-deck {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.card {
    display: inline-block;
    background-color: #222222;
    width: 300px;
    margin: 10px;
    border-radius: 20px;
    overflow: hidden;
}

.card__content {
    padding: 20px;
    width: 100%;
}

.card:hover {
    cursor: pointer;
    background-color: black;
    color: #ffdd55;
}

.card--green {
    background-color: darkseagreen;
}

.card--green:hover {
    background-color: lightgreen;
}

.card__preview {
    font-size: 20px;
    background-color: #aaaaff;
    width: 100%;
}
