/*
This file is placed in root folder of view because it's used by both map view and game view
 */

.map-game-view {
    overflow: auto;
}

.map-game-view__column-left {
    float: left;
    width: 20%;
    height: 100%;
    padding: 10px;
    word-wrap: break-word;
}

.map-game-view__column-right {
    text-align: center;
    padding: 10px;
}
