/*
This file is placed in root folder of view because it's used by both map view and game view
 */

.map-game-view {
    display: flex;
    align-items: stretch;
    overflow: auto;
}

.map-game-view__column-left {
    padding: 10px;
}

.map-game-view__column-right {
    display: inline-block;
    width: auto;
    padding: 10px;
    word-wrap: break-word;
    flex: 1;
}
