header {
    background-color: white;
}

.navbar {
    margin: 0 auto;
    background-color: #222222;
    position: fixed;
    height: 100%;
    width: 150px;
    top: 0;
}

.navbar__navs {
    display: block;
}

.navbar__navs--bottom {
    position: absolute;
    bottom: 20px;
}

.navbar__navs__nav {
    display: inline-block;
    width: 150px;
}

.navbar__navs__nav:hover {
    cursor: pointer;
    background-color: #373737;
}

.navbar__navs__nav a, .navbar__navs__nav div {
    text-decoration: none;
    display: block;
    padding: 10px;
    color: white;
}

.navbar__navs__nav a:hover, .navbar__navs__nav div:hover {
    color: #ffdd55;
}

.nav--small a, .nav--small div {
    font-size: 14px;
    color: darkgrey;
}
