header {
    background-color: white;
}

.navbar {
    margin: 0 auto;
    background-color: lightgrey;
    position: relative;
}

.navbar__navs {
    position: absolute;
    bottom: 0;
    right: 0;
}

.navbar__navs--centered {
    display: block;
    text-align: center;
}

.navbar__navs__nav {
    display: inline-block;
    border-bottom: 3px solid darkgrey;
}

.navbar__navs__nav:hover {
    cursor: pointer;
    background-color: darkgrey;
}

.navbar__navs__nav a, .navbar__navs__nav div {
    text-decoration: none;
    display: block;
    padding: 10px;
    color: black;
}