.card {
    background-color: #222222;
    width: 90%;
    height: 100px;
    margin: 10px auto;
}

.card:hover {
    cursor: pointer;
    background-color: black;
    color: #ffdd55;
}

.card--green {
    background-color: darkseagreen;
}

.card--green:hover {
    background-color: lightgreen;
}
