/*
CSS Standalone file

Make your own form and use this manually lol.
 */

.form-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.form {
    display: inline-block;
    text-align: center;
    width: 700px;
}

.form__note {
    color: #ffdd55;
    width: 400px;
    margin: auto auto 20px;
    text-align: left;
    opacity: 0.6;
}
